.mainer{
  max-width: 1500px;
  margin: 0 auto;
}

header{
  text-align: center;
  padding-top: 75px;
}
header .title-name{
  font-weight: bold;
  font-size: 90px;  
}
header .title-text{
  font-weight: 300;  
  font-size: 17px;
  max-width: 346px;
  display: inline-block;
  margin: 15px 0 50px 0;
}
.main{
  display: flex; 
  margin-left: 120px;
  justify-content: space-between;
}
.info-element{
  width: 50%;
}
.form{
  max-width: 500px;
  margin-right: 180px;
}
input[type="email"]:invalid{
  background-color: #6dffb6;
}
.form__element{
  width: 100%;
  height: 50px;
  background-color: #68d3d6;
  opacity: 0.7;
  border: none;
  margin-bottom: 15px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  outline: none;
  border-left: 5px solid #68d3d6;
  box-sizing: border-box;
  padding-left: 20px;
  cursor: pointer;
}
.form__element:focus{  
  border-left: 5px solid #355b82;
  opacity: 1;
  background-color: #00c4c4;
}
.form__element::placeholder{
  color: white;
}

.textarea{
  height: 250px;
  resize: vertical;
  padding-top: 20px; 
}
.content_title{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  padding-bottom: 5px;  
}
.content_info_example{
  font-size: 18px;
  padding-bottom: 15px;
}
.footer{
  background-color: #262626;
  padding: 23px 120px 23px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 242px;
}
 
.label{
  float:left;
  margin-right: auto;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  color: #b9b9b9; 
}
.logo{
  text-align: center;
  cursor: pointer;
}
.logo_link{
  font-size: 25px;
  font-family: 'Pacifico', cursive;
  color: #b9b9b9;
  text-decoration: none;
}
.logo_link:hover{
  color: #00c4c4;
}
.author{
  float: right;
  margin-left: auto;
  font-weight: 300;
  font-size: 15px;
  color: #b9b9b9;
 }
@media screen and (max-width:2560px){
  .main{
    margin: 30px;
  }
  .info-element{
    width: 35%;
  }
}
@media screen and (max-width:1000px){
  .main{
    margin: 30px;
  }
  .footer{
    padding: 23px 30px;
  }
  .author{
    padding-right: 0;
  }
}

@media screen and (max-width:860px){
  .main{
    margin: 20px;
  }
  .footer{
    padding: 23px 20px;
  }
}
@media screen and (max-width:660px){
  .footer{
    padding: 23px 25px;
  }
  .form{
    margin-right: 90px;
  }
  .author{
    padding-left: 20px;
  }
}
@media screen and (max-width:500px){
  .form{
    margin: 0;
  }
  .main{
    flex-direction: column-reverse;
    align-items: center;
  }
  .info-element{
    text-align: center;
    margin-top: -35px;
    margin-bottom: 15px;
  }
  .author{
    padding-left: 20px;
    word-break: break-all;
  }
}
@media screen and (max-width:320px){
  body{
    width: 320px;
  }
  .title-name{
    word-break: break-word;
  }
}